pycryptodome


PRACTICA
IMPLEMENTAR EL SERVICIO DE DIRECTORIO DISTRIBUIDO BASADO EN LAS APLICACIONES DESARROLLADAS EN LAS PRÁCTICAS ANTERIORES
AL INICIAR EL SERVIDOR, ESTE DEBERÁ CONSTRUIR LA LISTA DINÁMICA DE TODOS LOS ARCHIVOS COMPARTIDOS DE LOS EQUIPOS, VERIFICANDO QUE SE ENCUENTREN DISPONIBLES.
PUEDEN UTILIZARSE DOS ENFOQUES: UNA LISTA ÚNICA O MÚLTIPLES LISTAS.
DADO QUE CADA ENTRADA DE LA LISTA DE COMPARTIDOS TIENE UN TTL, UN HILO SE ENCARGARÁ DE CONFIRMAR QUE EL REGISTRO SIGUE DISPONIBLE, SI NO LO ESTÁ ENTONCES DEBERÁ:
SI TODOS LOS DEMÁS SERVIDORES DE NOMBRES ENCUENTRAN QUE YA NO ESTÁ, ENTONCES BORRARLO DE LA LISTA Y ESCRIBIRLO EN EL LOG
SI ALGUNO DE LOS SERVIDORES DE NOMBRES PUDIERA DAR UNA RESPUESTA AUTORITATIVA (ES DECIR, QUE TIENE AL ARCHIVO) ENTONCES ACTUALIZAR LA LISTA INDICANDO UN CAMBIO DE DUEÑO Y ENVIAR UNA ENTRADA AL LOG
SI UN REGISTRO DE LA LISTA TIENE UN TTL=0, SIGNIFICA QUE SIEMPRE ESTARÁ DISPONIBLE Y NO DEBERÁ SER ACTUALIZADO

CUANDO SE COMPARTA UN NUEVO ELEMENTO, EL SERVIDOR DEL EQUIPO QUE LO CONTENGA DEBE PUBLICAR LA ENTRADA A LOS DEMÁS EQUIPOS DEL SISTEMA. ESTA ENTRADA SERÁ AUTORITATIVA. LOS DEMÁS EQUIPOS AGREGARÁN LA ENTRADA A SU LISTA Y UNA NOTIFICACIÓN AL LOG
UN CLIENTE PUEDE HACER TRES TIPOS DE PETICIONES:
SOLICITAR INFORMACIÓN DE UN ARCHIVO EN ESPECÍFICO
SOLICITAR LA LISTA COMPLETA DE ARCHIVOS COMPARTIDOS DEL SERVIDOR
UTILIZAR EL ARCHIVO (LECTURA Y ESCRITURA)
UN SERVER, AL RECIBIR LA PETICIÓN DE UN ARCHIVO, PUEDE:
DEVOLVER EL CONJUNTO DE ATRIBUTOS DEL ARCHIVO: NOMBRE, EXTENSIÓN, TAMAÑO, FECHA DE CREACIÓN Y FECHA DE MODIFICACIÓN, TTL LA RESPUESTA ES AUTORITATIVA.
DEVOLVER LA IP DEL DUEÑO DEL ARCHIVO. LA RESPUESTA NO ES AUTORITATIVA.
RESPONDER NACK, LA RESPUESTA NO ES AUTORITATIVA
EN CUALQUIER CASO, SE ACTUALIZA EL LOG.

CUANDO EL CLIENTE RECIBE UNA RESPUESTA:
SI ES AUTORITATIVA, ACTUALIZA SU LISTA DE ARCHIVOS Y HACE UNA ANOTACIÓN AL LOG:
SI ES NO AUTORITATIVA, SOLICITA INFORMACIÓN DEL ARCHIVO AL DUEÑO DEL ARCHIVO Y HACE UNA ENTRADA AL LOG.
SI ES NACK, PREGUNTA A OTRO SERVIDOR EN LA RED.
CUANDO EL CLIENTE RECIBE UNA RESPUESTA NO AUTORITATIVA:
SOLICITA INFORMACIÓN DEL ARCHIVO AL DUEÑO DEL ARCHIVO.
SI RECIBE UNA RESPUESTA AFIRMATIVA AUTORITATIVA, ACTUALIZA SU TABLA Y HACE UNA ENTRADA AL LOG.
SI RECIBE UNA RESPUESTA NEGATIVA AUTORITATIVA, ENVÍA UN MENSAJE AL SERVER QUE LE ENVIÓ UNA RESPUESTA NO AUTORITATIVA Y ESTE ACTUALIZA SU TABLA Y HACE UNA ENTRADA AL LOG.
EL PROCESO TERMINA HASTA QUE, RECIBA UNA RESPUESTA AUTORITATIVA O NINGUNO DE LOS SERVIDORES CONOZCA AL ARCHIVO.
LA PETICIÓN DE LA LISTA DEL DIRECTORIO DISTRIBUIDO DEBE SER RESPONDIDA DE FORMA POR SOLICITUD DEL USUARIO.

AL RECIBIR UNA PETICIÓN DE UTILIZAR UN ARCHIVO, EL SERVIDOR:
SI ES EL PROPIETARIO, DARÁ EL ACCESO.
SI NO ES EL PROPIETARIO, IMPLEMENTARÁ UNA POLÍTICA DE REPOSITORIO, ES DECIR, SOLICITARÁ UNA COPIA AL PROPIETARIO Y LA MANTENDRÁ COMO LOCAL PARA EL CLIENTE QUE SE LO SOLICITÓ. IMPLEMENTANDO UN PATRÓN DE UNIT OF WORK. LA COPIA SE HARÁ MEDIANTE LA IMPLEMENTACIÓN DE LAS PRÁCTICAS ANTERIORES.
AL TERMINAR DE UTILIZARLO, DEBERÁ SINCRONIZAR LOS CAMBIOS CON EL ARCHIVO ORIGINAL LAS COLISIONES DEBERÁN SER RESUELTAS POR EL DUEÑO ORIGINAL DEL ARCHIVO POR MARCAS DE TIEMPO. SI NO HUBO CAMBIOS, ENTONCES NO DEBERÁ ENVIAR NADA. EN CUALQUIER CASO, AL TERMINAR DE UTILIZAR UNA COPIA LOCAL, DEBE ELIMINARSE DEL SISTEMA.
EL DUEÑO ORIGINAL DEL ARCHIVO DEBERÁ MANTENER UN REGISTRO DE CUALES ARCHIVOS FUERON SOLICITADOS PARA IDENTIFICAR POSIBLES CONFLICTOS.

IMPLEMENTAR UN CLIENTE QUE PERMITA VISUALIZAR EL CONTENIDO DEL DIRECTORIO DISTRIBUIDO, SIGUIENDO EL PRINCIPIO DE DISEÑO DE TRANSPARENCIA, Y SELECCIONAR CUALQUIER ARCHIVO PARA VISUALIZARLO Y EDITARLO (LOS ARCHIVOS SON DE TEXTO PLANO).
IMPLEMENTAR UNA HERRAMIENTA DE VISUALIZACIÓN QUE PERMITA SEGUIR LA ACTUALIZACIÓN DE LOS LOGS INVOLUCRADOS EN TODOS LOS SERVERS Y CLIENTES DEL SISTEMA, E IDENTIFICAR EN LOS LOGS LA TRAZA DE ALGUNA OPERACIÓN (POR EJEMPLO: LEER UN ARCHIVO Y VER TODAS LAS OPERACIONES DE TODOS LOS MÓDULOS INVOLUCRADOS)
ENTREGAR: CÓDIGO FUENTE Y DOCUMENTACIÓN.






